.app {
    display: grid;
    place-items: center;
    height: 100vh;
    background-image: url('https://wallpaper.dog/large/20518679.jpg');
    background-size: cover;
    background-color: #dadbd3;
}

.app__body {
    display: flex;
    border-radius: 25px;
    background-color: #ededed;
    margin-top: -50px;
    height: 90vh;
    width: 90vw;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.85);
}
